#canvas {
  background-color: black;
  display: block;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: arial;
}

#header {
  display: block;
  background: white;
  opacity: 0.8;
  height: 7rem;
  padding: 1rem;

}
#selection-container {
  display: flex;
}
#selection-container > .player {
  margin: auto;
}

#selection-container > .player:first-child {
  margin-right: 1rem;
}
#selection-container > .player:last-child {
  margin-left: 1rem;
}

#header img {
  display: block;
  width: 50%;
  margin: 0 auto;
}


.new-player-container {
  text-align: center;
}
#new-player-form {
  display: inline-block;
}

.vs {
  text-align: center;
  padding: 1rem;
  width: 10%;
  height: 10rem;
  display: inline-flex;
  margin-left: 1rem;
  margin-right: 1rem;
  background-image: url("images/vs.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.player {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 10%;
  height: 10rem;
  display: inline-block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

#selection-container {
  text-align: center;
}

#player-container {
  margin: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

.card:active {
  filter: grayscale(1);
  outline: 2px solid yellow;
  z-index: 99;
  animation: flash 300ms linear;
}

@keyframes flash {
	0% {
		filter:brightness(100%);
	}
	20% {
		filter:brightness(150%);
	}
	40% {
		filter:brightness(100%);
	}
	60% {
		filter:brightness(150%);
	}
	80% {
		filter:brightness(100%);
	}
	100% {
		filter:brightness(150%);
	}
}

.player-avatar {
  justify-self: center;
  height: 4rem;
  width: auto;
}


.submit {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7ff00), color-stop(1, #ff0000));
	background:-moz-linear-gradient(top, #f7ff00 5%, #ff0000 100%);
	background:-webkit-linear-gradient(top, #f7ff00 5%, #ff0000 100%);
	background:-o-linear-gradient(top, #f7ff00 5%, #ff0000 100%);
	background:-ms-linear-gradient(top, #f7ff00 5%, #ff0000 100%);
	background:linear-gradient(to bottom, #f7ff00 5%, #ff0000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ff00', endColorstr='#ff0000',GradientType=0);
	background-color:#f7ff00;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	margin-top: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #f7ff00));
	background:-moz-linear-gradient(top, #ff0000 5%, #f7ff00 100%);
	background:-webkit-linear-gradient(top, #ff0000 5%, #f7ff00 100%);
	background:-o-linear-gradient(top, #ff0000 5%, #f7ff00 100%);
	background:-ms-linear-gradient(top, #ff0000 5%, #f7ff00 100%);
	background:linear-gradient(to bottom, #ff0000 5%, #f7ff00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#f7ff00',GradientType=0);
	background-color:#ff0000;
}
.submit:active {
	position:relative;
	top:1px;
}

        