#canvas {
  background-color: black;
  display: block;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: arial;
}

#header {
  display: block;
  background: white;
  opacity: 0.8;
  height: 7rem;
  padding: 1rem;

}

#header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.new-player-container {
  text-align: center;
}
#new-player-form {
  display: inline-block;
}

.vs {
  text-align: center;
  padding: 1rem;
  width: 10%;
  height: 10rem;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/vs.png");
  background-repeat: no-repeat;
  background-size: 10rem, 10rem;
}
.player {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 10%;
  height: 10rem;
  display: inline-block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

#selection-container {
  text-align: center;
}

#player-container {
  margin: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

.player-avatar {
  justify-self: center;
  height: 4rem;
  width: auto;
}

.spacer {
  height: 0rem;
}
